/*****************************************
******************header******************
*****************************************/
navbar {
    height: 100px;
}

nav img {
    width: 100px;
}

nav ul li {
    padding-left: 8%;
}

nav ul {
    margin-right: 12%;
}

/*****************************************
*****************All pages****************
*****************************************/

.section1 {
    margin-top: 125px;
}

h2 {
    text-align: center;
    margin: 4rem 0;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;
}


/*****************************************
*****************Compétences**************
*****************************************/
.carousel-item {   
    height: 500px;
    width: 100%;
}
.carousel-item img {
width: 100%;
}

.row {
    padding-bottom: 8%;
}

.row1 {
    padding-left: 10%;
    padding-right: 10%;
}
.row2 {
    background-color: #4d4d60;
}

.clip-n-shape {
    width: 25%;
    padding: 30px;
    -webkit-clip-path: circle(133px at 49.99% 48.64%);
            clip-path: circle(133px at 49.99% 48.64%);
    -webkit-shape-outside: circle(45.88% at 54.64% 47.44%);
            shape-outside: circle(45.88% at 54.64% 47.44%);
}
.clip-n-shape:nth-of-type(2) {
    -webkit-shape-outside: circle(45.88% at 45.98% 48.90%);
            shape-outside: circle(45.88% at 45.98% 48.90%);
}
.clip-n-shape ~ p {
    line-height: 2.5rem;
}

.hiddenEl {
    visibility: hidden;
    width: 100%;
}

.showOnScroll {
    -webkit-animation-name: slideUp;
            animation-name: slideUp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    visibility: visible;
    color: white;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}