/*****************************************
******************header******************
*****************************************/
.navbar {
    height: 110px;
    padding-bottom: 0;
    padding-top: 0;
}

.bg-light {
    background-color: rgba(244, 247, 247, 0.7) !important;
}

nav img {
    width: 100px;
}

.navbar-nav,
.nav-link {
    padding: 2rem !important;
}

.nav-link:hover {
    color: rgb(251, 251, 251) !important;
    border-radius: 3%;
    background-color: rgb(84, 126, 126);
}

nav ul {
    margin-right: 8%;
}

@media screen and (max-width: 390px) {
    .navbar-brand {
        font-size: 1rem;
    }
}
@media screen and (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 110px;
        right: 0;
        background-color: rgb(244, 247, 247);
        border-top: rgb(244, 247, 247);
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}
/***************Page Index***************/
/**************Carossel*****************/
.marging{
    margin-top: 6.8rem;
}

.carousel-inner img{
    width: 100%;
    margin: auto;
    max-height: 400px;
}
.carousel-inner{
    width:100%;
    /*max-height: 500px;*/
  }
#titre{
    font-size: 30px;
}


@media only screen and (max-width: 767px) {
  .row img{
    margin-top: 3px;
    max-width: 150px; 
    max-height: 150px;
    border-radius: 100px;
   }
}
@media only screen and (min-width: 1050px) {
.carousel-inner img{
    max-height: 430px;
}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .card{
        min-height: 320px;
   
     }
  }
/*****************Footer*******************************/
.couleur{
    color: white;
}
.modal-footer a{
    padding-right: 80px;
}
