.card-columns {
  padding-top: 120px;
  padding-bottom: 3px;
  margin: 50px;

}
.card-columns .item-slide {
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  /* margin: 15px 0; */
}

.card-columns .slide-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  background: rgba(0, 0, 0, .5);
  top: 0;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.card-columns .item-slide:hover .slide-hover {
  left: 0px;
}

img {
  max-width: 100%;
}


.box-img {
  width: 100%;
  float: left;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
}



.text-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.text-wrap h4 {
  padding: 0 5px;
}


.text-wrap p {
  padding: 15px;
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  text-shadow: 2px 2px 3px #000;
}


.card-columns .item-slide:hover .text-wrap {
  background: none
}





/*****************************************
******************header******************
*****************************************/
.navbar {
    height: 110px;
    padding-bottom: 0;
    padding-top: 0;
}

.bg-light {
    background-color: rgba(244, 247, 247, 0.7) !important;
}

nav img {
    width: 100px;
}

.navbar-nav,
.nav-link {
    padding: 2rem !important;
}

.nav-link:hover {
    color: rgb(251, 251, 251) !important;
    border-radius: 3%;
    background-color: rgb(84, 126, 126);
}

nav ul {
    margin-right: 8%;
}

@media screen and (max-width: 390px) {
    .navbar-brand {
        font-size: 1rem;
    }
}
@media screen and (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 110px;
        right: 0;
        background-color: rgb(244, 247, 247);
        border-top: rgb(244, 247, 247);
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}
/***************Page Index***************/
/**************Carossel*****************/
.marging{
    margin-top: 6.8rem;
}

.carousel-inner img{
    width: 100%;
    margin: auto;
    max-height: 400px;
}
.carousel-inner{
    width:100%;
    /*max-height: 500px;*/
  }
#titre{
    font-size: 30px;
}


@media only screen and (max-width: 767px) {
  .row img{
    margin-top: 3px;
    max-width: 150px; 
    max-height: 150px;
    border-radius: 100px;
   }
}
@media only screen and (min-width: 1050px) {
.carousel-inner img{
    max-height: 430px;
}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .card{
        min-height: 320px;
   
     }
  }
/*****************Footer*******************************/
.couleur{
    color: white;
}
.modal-footer a{
    padding-right: 80px;
}
