/*****************************************
******************header******************
*****************************************/
.navbar {
    height: 110px;
    padding-bottom: 0;
    padding-top: 0;
}

.bg-light {
    background-color: rgba(244, 247, 247, 0.7) !important;
}

nav img {
    width: 100px;
}

.navbar-nav,
.nav-link {
    padding: 2rem !important;
}

.nav-link:hover {
    color: rgb(251, 251, 251) !important;
    border-radius: 3%;
    background-color: rgb(84, 126, 126);
}

nav ul {
    margin-right: 8%;
}

@media screen and (max-width: 390px) {
    .navbar-brand {
        font-size: 1rem;
    }
}

.container {
    margin-top: 9rem;
    min-height: 75vh;
}